{% extends "base.html" %}

{% block title %}Gestión de Cursos{% endblock %}

{% block content %}
<div class="col-10 form-container">

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} {% if category == 'error' %}alert-danger{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}


  

<h2 class="w-100 text-center">Cursos abiertos actualmente</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Curso</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Instructor</th>
            </tr>
        </thead>
        <tbody>
            {% for instancia in instancias %}
            <tr>
                <td>{{ instancia.id }}</td>
                <td>{{ instancia.curso.nombre_curso }}</td>
                <td>{{ instancia.fecha_inicio }}</td>
                <td>{{ instancia.fecha_fin }}</td>
                <td>{{ instancia.instructor.nombre_instructor }}</td>

            </tr>
            {% else %}
            <tr>
                <td colspan="4">No has abiertos cursos.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/crear-cursos" class="btn btn-info w-100 text-center">Abrir un nuevo curso</a>   
</div>
{% endblock %}
